html, body {
  height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: blue;
    overflow-y:hidden;
}
@font-face {
    font-family: 'gt_america_trialexpandedRg';
    src: url('gt-america-trial-expanded-regular-webfont.woff2') format('woff2'),
         url('gt-america-trial-expanded-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gt_america_trialexpanded_bold';
    src: url('gt-america-trial-expanded-bold-webfont.woff2') format('woff2'),
         url('gt-america-trial-expanded-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Titolo01 {
    font-family: 'gt_america_trialexpanded_bold';
    font-size: 4.7em;
    text-transform: uppercase;
    position: absolute;
    left: 60px;
    top: 60px;
    z-index: 1;
}
.Testo01 {
    width: 1050px;
    font-family: 'gt_america_trialexpandedRg';
    font-size: 4.7em;
    letter-spacing: 0px;

    line-height: 1.2;
    text-shadow: 2px 2px white;
    position: absolute;
    left: 60px;
    top: 190px;
    z-index: 1;
}
.X1 {
    position: absolute;
    left: 1140px;
    top: 77px;
    z-index: 1;
    text-shadow: 2px 2px grey;
}




